{% extends "base.html" %}
{% load thread_extras %}
{% block content %}
<div class="row">
    <div class="box">
    <div class="col-lg-12">
  {% if user.is_authenticated %}

  {% else %}
  <h2>Welcome to our site!</h2>
  <p>Please <a href="{% url 'login' %}">Login</a> or
  <a href="{%  url 'register' %}">Register</a></p>
  {%  endif %}

  <div class="col-md-9">
  {% for subject in subjects %}
    <secton class="subject">
      <h2><a href="{% url "threads" subject.id %}">{{ subject.name }}</a></h2>
      <p>
        <a href="{% url "threads" subject.id %}">
          {% autoescape off %}{{ subject.description }}{% endautoescape %}
        </a>
      </p>
      <table class="col-md-12">
        <tr>
          <th>THREADS</th>
          <th>POSTS</th>
        </tr>
        <tr>
          <td>{{ subject.threads.count }}</td>
          <td>{{ subject|get_total_subject_posts }}</td>
        </tr>
      </table>
      <div class="clearfix"></div>
    </secton>
  {% endfor %}
  </div>
</div>
</div>
{% endblock %}