{% extends "base.html" %}{% block content %}
	{% for post in posts %}
		<div class="row">
		<div class="box">
		<div class="col-lg-12 text-center">
			<br>
			<div class="col-md-2 col-sm-3 text-center">
				<a class="story-img" href="#"><img src="http://placehold.it/100" style="width:100px;height:100px;background-color: #12AB82;color:#ffffff;" class="img-circle"></a>
			</div>
			<div class="col-md-10 col-sm-9">
				<hr>
				<h3>{{ post.title }}</h3>
				<hr>
				<div class="row">
					<div class="col-xs-12">
					{% autoescape off %}
						<p>{{ post.content|truncatewords:30 }}</p>
					{% endautoescape %}
						<p><a href="{% url "blog_post" post.id %}" class="btn btn-default" >Read More</a> <p>{{ post.published_date }}     |    <strong>Views</strong> {{ post.views }} |    <strong>Tag</strong> {{ post.tag }}</p>
					</div>
				</div>
				<br><br>
			</div>
		</div>
		</div>
		</div>
		<hr>
	{% endfor %}
{% endblock content %}