{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
	<div class="row">
		<div class="box">
		<div class="col-lg-12 text-center">
		<div class="col-md-2 col-sm-3 text-center">
			<a class="story-img" href="#"><img src="http://placehold.it/100" style="width:100px;height:100px;background-color: #12AB82;color:#ffffff;" class="img-circle"></a>
		</div>
		<div class="col-md-10 col-sm-9">
			<hr>
			<h3>{{ post.title }}</h3>
			<hr>
			<div class="row">
			<a class="btn btn-default" href="{% url "edit_post" pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
				<div class="col-xs-11">
					{% if post.image %}
						<img src="{{ MEDIA_URL }}{{ post.image}}">
					{% endif %}
					{% autoescape off %}
					<p>{{ post.content|linebreaks }}</p>
					{% endautoescape %}
					<p><button class="btn btn-default" onclick="location.href='/blog'">Back to Blog</button> </p>
					<p>{{ post.published_date }}     |    <strong>Views</strong> {{ post.views }} |    <strong>Tag</strong> {{ post.tag }}</p>
					{% load disqus_tags %}
					{% set_disqus_title post.title %}
					{% disqus_show_comments %}
				</div>
			</div>
		</div>
		</div>
		</div>
	</div>
{% endblock content %}