{% load staticfiles %}
{% load emoticons_tags %}
<div class="row comment col-md-9 mb-20">
  <div class="col-md-4 comment-profile">
    <p><img src="{% static 'images/user.png' %}" /></p>
    <p>{{ post.user.username }}</p>
    <p>{{ post.user.posts.count }} POSTS</p>
  </div>
  <div class="col-md-8 ">
    <div class="comment-content">
      {% autoescape off %}
        {{ post.comment|emoticons }}
      {% endautoescape %}
    </div>
    {% include "comment_details.html" %}
  </div>
  
</div>