<section class="thread">
  <header>
    <table>
      <tr>
        <td>
          <a href="{% url 'thread' thread.id %}"><h4>{{ thread.name }}</h4></a>
        </td>
      </tr>
    </table>

  </header>
</section>