{% extends "base.html" %}
{% load thread_extras %}
{% block content %}
  <div class="row header">
  
    <div class="jumbotron"><h1>{{ subject.name }}</h1></div>
  </div>
  <div class="box">
  <div class="col-md-12">
    {% if user.is_authenticated %}
      <p>
        <a href="{% url 'new_thread' subject.id %}" class="btn btn-primary">New Thread</a>
      </p>
    {% endif %}
    {% for thread in subject.threads.all %}
      {% include "thread_item.html" %}
    {% endfor %}
  </div>
  </div>
{% endblock %}