{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">About
                        <strong>Osum Forum</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-md-6">
                    <img class="img-responsive img-border-left" src="{% static "img/slide-2.jpg" %}" alt="">
                </div>
                <div class="col-md-6">
                                {{ flatpage.content }}
                </div>
</div>
{% endblock %}