{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Business Casual - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "css/business-casual.css" %}" rel="stylesheet">
    
     <link href="{% static "css/forum.css" %}" rel="stylesheet">

    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- jQuery -->
    <script src="{% static "js/jquery.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    
    {% block head_js %}{% endblock %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div class="brand">Osum Forum</div>
    <div class="address-bar">3481 Melrose Place | Beverly Hills, CA 90210 | 123.456.7890</div>
    {% if user.is_authenticated %}
        <div class="address-bar">
            You are currently logged in as {{user.email}} <a href="{% url 'logout' %}" class="btn btn-small btn-default">Logout</a>
        </div>

    {% endif %}

    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="/">Osum Forum</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'about' %}">About</a>
                    </li>
                    <li>
                        <a href="{% url 'blog_posts' %}">Blog</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'forum' %}">Forum</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{% url 'login' %}">Forum</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">

        <div class="row">
            {% if messages %}

      {% if messages.level == 25 %} <div class="alert alert-error"> {% endif %}
      {% if messages.level == 30 %} <div class="alert alert-info"> {% endif %}
      {% if messages.level == 40 %} <div class="alert alert-block"> {% endif %}
      {% if messages.level == 20 %} <div class="alert alert-success"> {% endif %}
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {% for message in messages %}
          <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>
            <strong><center>{{ message }}</strong></center>
          </p>
          {% endfor %}

      </div>
    {% endif %}
    </div>
    {% block content %}{% endblock %}
        </div>

    </div>
    <!-- /.container -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; Osum Forum {% now "Y" %}</p>
                </div>
            </div>
        </div>
    </footer>

    

    
    {% block extra_js %}{% endblock %}

</body>

</html>