{% extends "base.html" %}
{% block content %}
	<h1>cheese</h1>
	{% for post in posts %}
		<div class="row">
			<br>
			<div class="col-md-2 col-sm-3 text-center">
				<a class="story-img" href="#"><img src="http://placehold.it/100" style="width:100px;height:100px;background-color: #12AB82;color:#ffffff;" class="img-circle"></a>
			</div>
			<div class="col-md-10 col-sm-9">
				<h3>{{ post.title }}</h3>
				<div class="row">
					<div class="col-xs-9">
						<p>{{ post.content|truncatewords:30 }}</p>
						<p><button class="btn btn-default" onclick="location.href = {{ post.id }}">Read More</button> <p>{{ post.published_date }}     |    <strong>Views</strong> {{ post.views }} |    <strong>Tag</strong> {{ post.tag }}</p>
					</div>
				</div>
				<br><br>
			</div>
		</div>
		<hr>
	{% endfor %}
{% endblock content %}