{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="box">
                 <div class="col-lg-12 text-center">
                    <div id="carousel-example-generic" class="carousel slide">
                        <!-- Indicators -->
                        <ol class="carousel-indicators hidden-xs">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="{% static "img/slide-1.jpg" %}" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="{% static "img/slide-2.jpg" %}" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="{% static "img/slide-3.jpg" %}" alt="">
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                    </div>
                    <h2 class="brand-before">
                        <small>Welcome to</small>
                    </h2>
                    <h1 class="brand-name">Osum Forum</h1>
                    <hr class="tagline-divider">
                    <h2>
                        <small>By
                            <strong>Those Django Fandangos</strong>
                        </small>
                    </h2>
                </div>
                {% if not user.is_authenticated %}
                <div class="col-lg-12">
                    <p>If you already have and account <a href="{% url 'login' %}" class="btn btn-primary">Login</a></p>
                    <p>Or <a href="{% url 'register' %}" class="btn btn-primary">Register</a>
                </div>
                {% endif %}
                <div class="col-lg-12">
                                {{ flatpage.content }}
                </div>
</div>
{% endblock %}
{% block extra_js %}
<!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>
{% endblock %}