{% extends "base.html" %}
{% load bootstrap %}
{% block content %}
<div class="box">
  <div class="col-lg-12">
  <form role="form" method="post" action="{% url 'login' %}">
    <legend>Login </legend>
    {% csrf_token %}
    {{ form|bootstrap }}
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
  </form>
  <p>Dont have an account? <a href="{% url 'register' %}">Register Here</a></p>
</div>
</div>
{% endblock %}