{% extends "base.html" %}
{% block content %}
<div class="box">
  <div class="col-lg-12">
  <h2>Success!</h2>
  <p>You are logged in as {{ user.email }} </p>
  <p>Your stripe id is {{ user.stripe_id }} </p>

  <h2>Subscription Details</h2>
  <p>You have {{ subscription_days }} days left on your subscription</p>
  <p>To cancel your subscription click 'Cancel Subscription' below</p>
  <p>
    <a href=""
        onclick="return cancelSubscriptionCheck();"
        class="btn btn-danger">Cancel Subscription</a>
  </p>
  <script type="text/javascript">
    function cancelSubscriptionCheck() {
      if(confirm('Are you sure you want to cancel?')) {
        return true;
      }

      return false;
    }
  </script>
  
</div>
</div>

{% endblock %}