{% extends 'base.html' %}
{% block content %}
<div class="box">
                <div class="col-lg-12">
                                {{ flatpage.content }}
                </div>
</div>
{% endblock %}